/* Global Styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2d7d5;
    color:#e22989;
  }
 
  /* Header and Navigation */
  header {
    background-color:#f2d7d5;
    padding: 2%;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 200;
    padding: 200;
  }
  
  nav ul li {
    margin: 0 10px;
    transition: border-color 0.4s ease-in-out;
    border: 2px solid transparent;
    padding-right: 30px;
  }
  
  nav ul li:last-child {
    border-right: none;
  }

  nav ul li a {
    color: #7e5e6f;
    text-decoration: none;
    font-size: 20px;
  }

  nav ul li a:hover {
    color:rosybrown;
  }
 
  /* Hero Section */
  .hero {
    background-color: #f2d7d5;
    padding: 80px 20px;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    animation:fadeInUp 5s ease-in-out;

  }

  .picture-container {
    justify-content: center;
    margin-top: 50px;
  }
  
  .picture-container figure {
    margin: 20spx;
    text-align: center;
    max-width: 200px;
  }
  
  .picture-container img:hover{
    transform:scale(1.2); 
  }

  .picture-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .picture-container figcaption {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
  }

  
  .blurring-text{
  color:#e22989;
  animation:blur 10s;
  padding:0%;
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  font-weight: 700;
  }

  .hero-content p {
    font-size: 20px;
    color:#5c4b51;
    animation:blur 10s;
    animation:fadeInUp 5s ease-in-out;
  }

  .hero-content img {
    width: 20%;
    height: 305px;
  }

.picture-container img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(244, 144, 144, 0.3);
  } 

.animated-image {
    margin:20;
    font-size: 2.5em;
    color: #fff;
    animation:fadeInUp 5s ease-in-out;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  /* Featured Content Section */
  .featured-content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .featured-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 20px;
    width: 500px;
  }

  .featured-item figcaption {
    color: #555;
    line-height: 1.5;
    justify-content:center;
  }
  
  /* Footer */
  footer {
    background-color: #f2d7d5;
    color: #7e5e6f;
    padding: 20px;
    text-align: center;
  }
  body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color:lavenderblush;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    font-weight: 700;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #7e5e6f;
  }
  .picture-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .picture-container figure {
    margin: 20px;
    text-align: center;
    max-width: 400px;
  }
  
  .picture-container img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .picture-container figcaption {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    line-height: 2;
  }


  
/* About Me Section */
.about-section {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.about-section .picture-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-section .picture-container figure {
  display: flex;
  align-items: center;
  padding: 20px; 
}

.about-section .image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
}

.about-section .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section .picture-container figcaption {
  flex: 1;
  text-align: left;
  max-width: 300px;
  word-wrap: break-word;
  word-spacing: 1%;
}


.contact-section {
    background-color:#7e5e6f;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    border-radius: 1.6%;
    border-width: 0cap;
    border-bottom-style: inset;
    border-top-style: inset;
    border-left-style: inset;
    border-right-style:inset;
    
  }
  
.contact-section h2 {
    margin-bottom: 20px;
  }

.header-style {
    margin-bottom: 100px;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px gray;
    color:antiquewhite;
    letter-spacing: 2px;
  }

 /* Header Animation */
header {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Icon Animation */
.contact-links a {
  animation: bounceIn 0.5s ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

* Caption Animation */
.contact-links a:hover::after {
  content: attr(data-caption);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact-links a {
  display: inline-block;
  margin: 0 50px;
  text-decoration: #e22989;
  color: #f7f7f7;
  font-size: 20px;
  width: 100px;
  height: 100px;
  line-height: 200px;
  border-radius: 210%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.contact-links a::after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.contact-links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.contact-links a:hover {
  background-color: #f2d7d5;
  color: #e22989;
}

.contact-links a:hover i {
  transform: translate(-50%, -50%) scale(1.2);
}
  .instagram-link i {
    color: #e1306c;
  }
  
  .whatsapp-link i {
    color: #25d366;
  }
  .telegram-link i{
    color:lightskyblue;
  }
 
.icon:hover {
  transform: scale (1.2);
  color:#e1306c;
}
.fab{
  font-size: 24px;
  color:#e1306c
}
.fa-instagram {
  color:brown
}
.fa-whatsapp{
  color:#25d366;
}
.fa-telegram{
  color:lightskyblue;
}

.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 0%;
  margin:40px auto 0;
}

.contact-form-container h2 {
  margin-top: 0;
  margin-bottom: 10px; /* Reduce the spacing between the heading and the form */
  font-size: 18px; /* Adjust the font size of the heading */
}

.form-field {
  margin-bottom: 15px; /* Reduce the spacing between form fields */
}

.form-field label {
  display: block;
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 6px; /* Reduce the padding of the form fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-field textarea {
  height: 80px; /* Reduce the height of the textarea */
}

.submit-button {
  display: block;
  width: 100%;
  padding: 8px 16px; /* Reduce the padding of the submit button */
  background-color: lightpink;
  color: #7e5e6f;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: sans-serif;
}

.submit-button:hover {
  background-color: #e22989;
}